# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# build
**/dist
**/build
**/.next

# dependencies
**/node_modules
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Turbo
**/.turbo

# TypeScript
**/*.tsbuildinfo

# testing
**/.nyc_output
**/coverage

# misc
.DS_Store
*.pem

# prisma client outputs
**/prisma/client
**/prisma/generated

# debug
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.pnpm-debug.log*

# env files 
**/.env*
